/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     |
    \\  /    A nd           |
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    object      blockMeshDict;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// snappyHexMesh 用 背景メッシュ
// STL: {{ stl_name }}
// 物体バウンディングボックスを自動的に{{ domain_scale }}倍に拡張した計算領域
// 流れ方向: +x  鉛直方向: +y  幅方向: +z

convertToMeters 1.0;

// 計算領域: x=[{{ x_min }}, {{ x_max }}], y=[{{ y_min }}, {{ y_max }}], z=[{{ z_min }}, {{ z_max }}]
// セル数: {{ nx }} x {{ ny }} x {{ nz }}（均一セルでsnappyが細分化）

vertices
(
    ( {{ x_min }} {{ y_min }} {{ z_min }} )   // 0
    ( {{ x_max }} {{ y_min }} {{ z_min }} )   // 1
    ( {{ x_max }} {{ y_max }} {{ z_min }} )   // 2
    ( {{ x_min }} {{ y_max }} {{ z_min }} )   // 3
    ( {{ x_min }} {{ y_min }} {{ z_max }} )   // 4
    ( {{ x_max }} {{ y_min }} {{ z_max }} )   // 5
    ( {{ x_max }} {{ y_max }} {{ z_max }} )   // 6
    ( {{ x_min }} {{ y_max }} {{ z_max }} )   // 7
);

blocks
(
    hex (0 1 2 3 4 5 6 7) ({{ nx }} {{ ny }} {{ nz }}) simpleGrading (1 1 1)
);

edges
(
);

boundary
(
    inlet
    {
        type patch;
        faces
        (
            (0 4 7 3)
        );
    }
    outlet
    {
        type patch;
        faces
        (
            (1 2 6 5)
        );
    }
    top
    {
        type symmetryPlane;
        faces
        (
            (3 7 6 2)
        );
    }
    bottom
    {
        type symmetryPlane;
        faces
        (
            (0 1 5 4)
        );
    }
    front
    {
        type symmetryPlane;
        faces
        (
            (4 5 6 7)
        );
    }
    back
    {
        type symmetryPlane;
        faces
        (
            (0 3 2 1)
        );
    }
);

mergePatchPairs
(
);

// ************************************************************************* //
