/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     |
    \\  /    A nd           |
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    object      turbulenceProperties;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

{% if turbulence_model == "laminar" %}
simulationType  laminar;
{% else %}
simulationType  RAS;

RAS
{
    RASModel        {{ turbulence_model }};
    turbulence      on;
    printCoeffs     on;
}
{% endif %}

// ************************************************************************* //
