/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     |
    \\  /    A nd           |
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    object      nut;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
{% set is_2d = (case_type == "channel_2d") %}
{% set is_snappy = case_type in ["external_snappy", "snappy_external"] %}
{% set is_snappy_2d = (case_type == "snappy_2d") %}

dimensions      [0 2 -1 0 0 0 0];

internalField   uniform 0;

boundaryField
{
    inlet  { type calculated; value uniform 0; }
    outlet { type calculated; value uniform 0; }

{% if is_snappy_2d %}
    top    { type symmetryPlane; }
    bottom { type symmetryPlane; }
    front  { type empty; }
    back   { type empty; }

    {{ snappy_object_name }}    { type nutkWallFunction; value uniform 0; }

{% elif is_2d %}
    top    { type nutkWallFunction; value uniform 0; }
    bottom { type nutkWallFunction; value uniform 0; }
    front  { type empty; }
    back   { type empty; }

{% elif is_snappy %}
    top    { type symmetryPlane; }
    bottom { type symmetryPlane; }
    front  { type symmetryPlane; }
    back   { type symmetryPlane; }

    {{ snappy_object_name }}    { type nutkWallFunction; value uniform 0; }

{% else %}{# channel_3d / heat_transfer #}
    top    { type nutkWallFunction; value uniform 0; }
    bottom { type nutkWallFunction; value uniform 0; }
    front  { type nutkWallFunction; value uniform 0; }
    back   { type nutkWallFunction; value uniform 0; }

{% endif %}
}

// ************************************************************************* //
