/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     |
    \\  /    A nd           |
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       volScalarField;
    object      omega;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// omega = sqrt(k) / (Cmu^0.25 * l),  Cmu=0.09, l=0.07*L_ref
{% set k_val = (1.5 * (inlet_velocity * 0.05) ** 2) | round(6) %}
{% set omega_val = ((k_val ** 0.5) / (0.09 ** 0.25 * (0.07 * 1.0))) | round(4) %}
{% set is_2d = (case_type == "channel_2d") %}
{% set is_snappy = case_type in ["external_snappy", "snappy_external"] %}
{% set is_snappy_2d = (case_type == "snappy_2d") %}

dimensions      [0 0 -1 0 0 0 0];

internalField   uniform {{ omega_val }};

boundaryField
{
    inlet  { type fixedValue; value uniform {{ omega_val }}; }
    outlet { type zeroGradient; }

{% if is_snappy_2d %}
    top    { type symmetryPlane; }
    bottom { type symmetryPlane; }
    front  { type empty; }
    back   { type empty; }

    {{ snappy_object_name }}    { type omegaWallFunction; value uniform {{ omega_val }}; }

{% elif is_2d %}
    top    { type omegaWallFunction; value uniform {{ omega_val }}; }
    bottom { type omegaWallFunction; value uniform {{ omega_val }}; }
    front  { type empty; }
    back   { type empty; }

{% elif is_snappy %}
    top    { type symmetryPlane; }
    bottom { type symmetryPlane; }
    front  { type symmetryPlane; }
    back   { type symmetryPlane; }

    {{ snappy_object_name }}    { type omegaWallFunction; value uniform {{ omega_val }}; }

{% else %}{# channel_3d / heat_transfer #}
    top    { type omegaWallFunction; value uniform {{ omega_val }}; }
    bottom { type omegaWallFunction; value uniform {{ omega_val }}; }
    front  { type omegaWallFunction; value uniform {{ omega_val }}; }
    back   { type omegaWallFunction; value uniform {{ omega_val }}; }

{% endif %}
}

// ************************************************************************* //
