/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     |
    \\  /    A nd           |
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       volVectorField;
    object      U;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
{% set is_2d = (case_type == "channel_2d") %}
{% set is_snappy = case_type in ["external_snappy", "snappy_external"] %}
{% set is_snappy_2d = (case_type == "snappy_2d") %}

dimensions      [0 1 -1 0 0 0 0];

internalField   uniform ({{ inlet_velocity }} 0 0);

boundaryField
{
    inlet
    {
        type            fixedValue;
        value           uniform ({{ inlet_velocity }} 0 0);
    }

    outlet
    {
        type            zeroGradient;
    }

{% if is_snappy_2d %}
    top    { type symmetryPlane; }
    bottom { type symmetryPlane; }
    front  { type empty; }
    back   { type empty; }

    {{ snappy_object_name }}    { type noSlip; }

{% elif is_2d %}
    top    { type noSlip; }
    bottom { type noSlip; }
    front  { type empty; }
    back   { type empty; }

{% elif is_snappy %}
    top    { type symmetryPlane; }
    bottom { type symmetryPlane; }
    front  { type symmetryPlane; }
    back   { type symmetryPlane; }

    {{ snappy_object_name }}    { type noSlip; }

{% else %}{# channel_3d / heat_transfer #}
    top    { type noSlip; }
    bottom { type noSlip; }
    front  { type noSlip; }
    back   { type noSlip; }

{% endif %}
}

// ************************************************************************* //
